body{
	/*
	background: #e7e7e7 url(../img/blur.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
    */
    background: #e5eaee;
	color: #6a7883;
}

.tile{
	background: white;
	font-family: 'Roboto', sans-serif;
	-moz-box-shadow: 0px 5px 20px 0px #bcc8d1;
	-webkit-box-shadow: 0px 5px 20px 0px #bcc8d1;
	-o-box-shadow: 0px 5px 20px 0px #bcc8d1;
	box-shadow: 0px 5px 20px 0px #bcc8d1;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#bcc8d1, Direction=180, Strength=20);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}
.margin-top{
	margin-top: 10px;
}